
.markdown
  :markdown
    ***
    *This site is built on [Bitters](http://bitters.evbogue.com/) a simple-as-possible Git-based website designed by [this fine fellow](http://evbogue.com/) and [this badass coder-woman](http://gwenbell.com/); deployed using [Node.js](http://nodejs.org).*