

img(src="/images/evbogue.jpg", width="100%", style="margin-bottom: .5em; border: 1px solid #ccc; padding: 4px; background: white;")

h2 Hi, I'm Ev Bogue

p I teach technical skills so you can deploy. The only thing that will get you ahead is more technical skills. Signing up for bullshit services is not enough, you have to be able to deploy. 

ul
	li I live in Bed-stuy, Brooklyn
	li I use [cjdns](https://github.com/cjdelisle/cjdns) to access [Hyperboria](http://hyperboria.net), a distributed mesh network.
	li I deploy [Node.js](http://nodejs.org/)
	li I use email, because it's distributed: [ev@evbogue.com](ev@evbogue.com)
	li I use git, because it's distributed: [Github](http://github.com/evbogue) (public) / [Gitboria](http://gitboria.com/ev) (cjdns only)
	li I use [socialno.de](http://socialno.de) (cjdns only)

<form action="https://tinyletter.com/evbogue" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/evbogue', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><input type="text" class="medium" name="email" id="tlemail" placeholder="Enter your email" /><input type="hidden" value="1" name="embed" /><input type="submit" value="Sign up" class="button"/></form>
