

img(src="/images/evbogue.jpg", width="100%", style="margin-bottom: .5em; border: 1px solid #ccc; padding: 4px; background: white;")

h2 Hi, I'm Ev Bogue

p I teach technical skills so you can deploy. The only thing that will get you ahead is more technical skills. Signing up for bullshit services is not enough, you have to be able to deploy. 
  a(href='/about') About

p I live in Bed-stuy, Brooklyn

p Email: 
  a(href='mailto:ev@evbogue.com') ev@evbogue.com 
  | <br />
  | XMPP: 
  a(href='xmpp:evbogue@jabber.org') evbogue@jabber.org

<form action="https://tinyletter.com/evbogue" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/evbogue', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><input type="text" class="medium" name="email" id="tlemail" placeholder="Letters to your inbox" /><input type="hidden" value="1" name="embed" /><input type="submit" value="Sign up" class="button"/></form>
