.profile
  img#profile_img(src="/images/jaredcc1-r.png", width="100%", class="profile")
  :markdown
   ### I'm Jared Chapman
   + *Wordsmith & Information Designer for [The Brothers Chapman](http://brotherschapman.com).*
   + *You can **email** me at: jcc@jaredcc.com.*