

img(src="/images/evbogue.jpg", width="100%", class="profile")

h2 Hi, I'm Ev Bogue

p I teach technical skills so you can deploy. The only thing that will get you ahead is more technical skills. Signing up for bullshit services is not enough, you have to be able to deploy. 
  a(href='/about') About

p I live in Bed-stuy, Brooklyn

P I'm 
  a(href='http://twitter.com/venportman') Ven Portman 
  | on Twittah

p Maintainer of 
  a(href='http://deployno.de') Deploy Node

p Email: 
  a(href='mailto:ev@evbogue.com') ev@evbogue.com 
  | <br />
  | XMPP: 
  a(href='xmpp:evbogue@jabber.org') evbogue@jabber.org
  | <br />
  | Git: 
  a(href='http://github.com/evbogue') Github
  |  | 
  a(href='http://gitlab.com/u/ev') Gitlab

<form action="https://tinyletter.com/evbogue" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/evbogue', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><input type="text" class="medium" name="email" id="tlemail" placeholder="Letters to your inbox" /><input type="hidden" value="1" name="embed" /><input type="submit" value="Sign up" class="button"/></form>
