img#profile_img(src="/images/jaredcc2.jpg", width="100%", class="profile")
h3 I'm Jared Chapman
p of 
  a(href='http://thebrotherschapman.herokuapp.com/') The Brothers Chapman
  |. I'm a storyteller for those I know. I'm fascinated with language and cite Death & Gin as co-authors. 

p Current languages of interest: node.js, cli, and information architecture.

h4 Get the occasional letter
p <form action="https://tinyletter.com/jaredcc" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/jaredcc', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><input type="text" class="medium" name="email" id="tlemail" placeholder="you@email.com" /><input type="hidden" value="1" name="embed" /><input type="submit" value="Subscribe" class="button"/></form>

:markdown
  This site is built on
  [Bitters](http://bitters.evbogue.com/) 
  a simple-as-possible Git-based website designed by 
  [this fine fellow](http://evbogue.com/); deployed using
  [Node.js](http://nodejs.org).