img#profile_img(src="/images/jaredcc2.jpg", width="100%", class="profile")
h3 I'm Jared Chapman
p of 
  a(href='http://thebrotherschapman.herokuapp.com/') The Brothers Chapman
  |. I'm a storyteller for those I know and cite Death & Gin as co-authors. 

p Current languages of interest: node.js, cli, and information architecture.

//=== OLD SUBSCRIBE ==
// h4 Get the occasional letter
// p <form action="https://tinyletter.com/jaredcc" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/jaredcc', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><input type="text" class="medium" name="email" id="tlemail" placeholder="you@email.com" /><input type="hidden" value="1" name="embed" /><input type="submit" value="Subscribe" class="button"/>

// == Eventual, "read more" button below ==
// <input type="submit" value="more ..." class="button"/>
// jsFiddle source http://jsfiddle.net/AlienWebguy/9t3Z5/3/

