.markdown
  :markdown
   ##### STREAM
   ***
   + JUN 12 - Talking about node.js
   + MAY 31 - Simplify [jaredcc.com](http://jaredcc.com/)
   + MAY 16 - Adapting to minimal web-access in PT/WA ~~considering [Karma](https://yourkarma.com/)~~ **update:** no coverage :(
   + MAY 15 - 4.5 stars for The Last Website stars on [Chrome Experiments](https://plus.google.com/+GoogleChromeDevelopers/posts/1knVYZweFoM)
   + MAY 10 - Figured out HTTP Routing!
   + MAY 10 - Preparing today, leaving tomorrow 5am; from UT to Port Townesend WA
   + MAY 09 - Last day at work :)
   + MAY 09 - Deployed my [Bitters](http://bitters.evbogue.com/) site a la [deployno.de](http://deployno.de)
   + MAY 04 - **Published story [The Last Website](http://www.lastwebsite.io/)** -- *A telling from The Brothers Chapman and Opoloo featuring new type of literature, combining aural, visual & lingual elements.* 
   + APR 25 - Gave notice at my job of 6+ years
   + APR 25 - **Published essay [Digital is Physical](http://blog.opoloo.com/articles/digital-is-physical)** -- *Discussions around Flat vs. Ornamental design suffer from the myth of Digital vs. Physical.*
