//Your Profile

.profile
  img#profile_img(src="/images/jaredcc2.jpg", width="100%", class="profile")


.profile
  :markdown
   ### I'm Jared Chapman
   + I'm a writer, storyteller, information designer. Head wordsmith for [The Brothers Chapman](brotherschapman.com).