@font-face { font-family: "Source Sans Pro"; src=url(/fonts/SourceSansPro-Light.ttf); weight: 300;}
@font-face { font-family: "Source Sans Pro"; src=url(/fonts/SourceSansPro-Regular.ttf); weight: 400;}
@font-face { font-family: "Source Sans Pro"; src=url(/fonts/SourceSansPro-Bold.ttf); weight: 700;}
@font-face { font-family: "Source Sans Pro"; src=url(/fonts/SourceSansPro-LightItalic.ttf); weight: 300; font-style: italic;}
@font-face { font-family: "Source Sans Pro"; src=url(/fonts/SourceSansPro-Italic.ttf); weight: 400; font-style: italic;}
@font-face { font-family: "Source Sans Pro"; src=url(/fonts/SourceSansPro-BoldItalic.ttf); weight: 700; font-style: italic;}
@font-face { font-family: "Ubuntu Mono"; src=url(/fonts/UbuntuMono-R.ttf); weight: 400;}
@font-face { font-family: "Ubuntu Mono"; src=url(/fonts/UbuntuMono-RI.ttf); weight: 400; font-style: italic;}
@font-face { font-family: "Ubuntu Mono"; src=url(/fonts/UbuntuMono-B.ttf); weight: 600;}
@font-face { font-family: "Ubuntu Mono"; src=url(/fonts/UbuntuMono-BI.ttf); weight: 600; font-style: italic;}

body 
  background #f5f5f5 url('/images/noise.png')
  font-family "Source Sans Pro", sans-serif
  color #222


.container 
  margin-top: 2em;


h1, h2, h3, h4, h5
  font-family "Source Sans Pro", sans-serif
  color #222